$def with (response)
<table>
	<tr>
		<td><b>Soundcloud track ID: </b></td>
		<td>$response['id']</td>
	</tr>
	<tr>
		<td><b>Title: </b></td>
		<td>$response['title']</td>
	</tr>
	<tr>
		<td><b>Artist: </b></td>
		<td>$response['artist']</td>
	</tr>
	<tr>
		<td><b>Length: </b></td>
		<td>$response['length']</td>
	</tr>
	<tr>
		<td><b>Download URL: </b></td>
		<td><a href=$response['stream_url']>...</a></td>
	</tr>
</table>

<img src="http://developers.soundcloud.com/assets/powered_by_black.png" alt="soundcloud">